.map-section
    margin-bottom: 180px
    & .title
        & span
            color: #8671A5
    &__hero
        padding-top: 110px
        display: flex
        align-items: center
        justify-content: space-between
    &__map
        overflow: hidden
        border-radius: 40px
        max-width: 866px
        margin-right: 110px
        & img
            height: 100%
            width: 100%
    &__subtitle
        font-size: 26px
        font-style: normal
        font-weight: 700
        margin-bottom: 30px
    &__list
        margin-bottom: 40px
        & li
            font-size: 20px
            line-height: 180%
            & span
                margin-right: 5px
    &__btn
        min-width: 280px