@import 'general'
@import 'map-section'
@import 'buy-section'
@import 'dropdown'
@import 'relax'
@import 'special'
@import 'subscribe'

.main
	padding-top: 140px
	padding-bottom: 140px
	overflow-x: hidden
.title
	font-family: 'Days One', sans-serif
	font-size: 40px
	font-style: normal
	font-weight: 600
	line-height: normal
	text-align: center
	position: relative
	& span
		font-family: 'Days One', sans-serif
	&::before
		content: ''
		position: absolute
		background: #D9D9D9
		width: 400px
		height: 1px
		bottom: -32px
		left: 50%
		transform: translateX(-50%)
	&::after
		content: ''
		position: absolute
		width: 93px
		height: 4px
		bottom: -32px
		left: 50%
		transform: translateX(-50%)
		background: #8671A5

.d-none
	display: none

@media screen and (max-width: 1024px)
	.main
		padding-top: 120px
		padding-bottom: 120px
	.title
		font-size: 36px
		&::before
			bottom: -28px
		&::after
			bottom: -28px

@media screen and (max-width: 600px)
	.title
		font-size: 28px
		&::before
			width: 300px

@media screen and (max-width: 425px)
	.main
		padding-top: 80px
		padding-bottom: 90px
	.title
		font-size: 24px
		&::before
			width: 200px
			bottom: -22px
		&::after
			width: 80px
			height: 2px
			bottom: -22px